@using Catering.Web.ViewModels;
@model ChiefViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chiefs</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/layout.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/commonDesign.css">
    <link rel="stylesheet" href="~/css/warninganimation.css">
    <link rel="stylesheet" href="~/DataTables/datatables.min.css" />
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
</head>
<body style="overflow-x:hidden;overflow-y:auto">
    <nav class="navbar navbar-expand-md navbar-dark shadow fixed-top bg-dark flex-md-nowrap justify-content-between">
        <a class="navbar-brand" asp-action="Index" asp-controller="Chief">@User.Identity?.Name</a>
        <div>
            <button class="navbar-toggler" id="btn-toggler" type="button" data-toggle="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-light">Sign out</a>
        </div>
    </nav>

    <div style="height:100vh;">
        <div class="container-flud h-100" style="padding-top:56px;">
            <div class="row h-100">
                <div id="sidebar" class="col-sm-12 col-md-3 col-lg-2 col-xl-2">
                    <div class="list-group list-group-flush">

                        @*asp-action="Services" asp-controller="Service"*@
                        <a class="sequence list-group-item list-group-item-action">Chiefs</a>
                        <a class="sequence list-group-item list-group-item-action">Cook Categories</a>
                        <a class="sequence list-group-item list-group-item-action">Cooks</a>
                    </div>
                </div>
                <div id="content" class="col-sm-12 col-md-9 col-lg-10 col-xl-10 p-0">
                    <div id="content-header" class="w-100 text-white p-2 bg-info shadow">Test</div>
                    <div>

                        <div class="container mb-3 mt-3" style="margin:25px;">
                            <h1 style="text-align: center;">@ViewData["Title"]</h1>

                            @*@if (ViewBag.Message != null)
        {
            <div class="divAnim">@ViewBag.Message</div>
        }*@

                            <table id="example" class="table table-striped table-bordered tbl" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Note</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Chiefs)
                                    {
                                        <tr>
                                            <td>@item.No</td>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Note </td>
                                            <td><a asp-controller="Chief" asp-action="SaveChief" asp-route-id="@item.Id" class="btn btn-primary bgupdate" id="btnUpdate"><i class='fas fa-download'></i> Update</a></td>
                                            <td><button class="btn btn-danger bgdelete" onclick="ShowDeleteModal(@item.Id)" data-toggle="modal" data-id="@item.Id" data-target="#DelModal" id="btnDel"><i class='fas fa-trash-alt'></i>Delete</button></td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Note</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>

                            <a class="btn btn-primary bgupdate" asp-controller="Chief" asp-action="SaveChief" id="myBtnAdd"><i class='fas fa-download'></i> Add</a>

                            <!-- The Modal -->
                            <div class="modal fade" id="DelModal">
                                <div class="modal-dialog">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete row</h4>
                                            <button type="button" class="close" data-dismiss="modal">×</button>
                                        </div>

                                        <div style="overflow-x:auto;" class="modal-body ">
                                            <p>Are you sure to delete this row?</p>
                                        </div>

                                        <div class="modal-footer">
                                            <form asp-controller="Chief" asp-action="Delete" method="post">
                                                <input asp-for="DeletedId" id="deletedId" hidden />
                                                <button type="submit" class="btn btn-primary bgupdate">Yes</button>
                                                <button type="button" class="btn btn-danger bgdelete" data-dismiss="modal">No</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var urlEnd = window.location.pathname.split('/')[3];
            switch (window.location.pathname.split('/')[3]) {
                case 'Chiefs':
                    {
                        $('.sequence').eq(0).addClass('active text-white');
                        $('#content-header').text('Chiefs');
                        break;
                    }
                case 'CookCategories':
                    {
                        $('.sequence').eq(1).addClass('active text-white');
                        $('#content-header').text('Categories');
                        break;
                    }
                case 'Cooks':
                    {
                        $('.sequence').eq(2).addClass('active text-white');
                        $('#content-header').text('Authors');
                        break;
                    }
                default:
                    {
                        $('.sequence').eq(0).addClass('active text-white');
                        $('#content-header').text('Chiefs');
                        break;
                    }
            }

            $('#btn-toggler').click(function () {
                $('#sidebar').eq(0).slideToggle();
            });
        });

        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }

        $(document).ready(function () {

            // DataTable
            //{
            //    "columns": [{ "width": "5%" }, { "width": "20%" }, { "width": "35%" }, { "width": "10%" }, { "width": "10%" }, { "width": "10%" }, { "width": "10%" }]
            //}

            $('#example').dataTable();
        });

        function ShowDeleteModal(id) {
            $("#deletedId").val(id);
        }
    </script>
</body>
</html>
